body{
  background-image: linear-gradient(to right , blue , violet);
  display: flex;
  margin-top: 15vh;
  align-items: center;
  justify-content: center;
  padding:0 10px;
}
.converter{
  background-image:linear-gradient(to top , rgb(0, 217, 255) , violet);
  border-radius: 10px;
  width: 450px;
  height:540px;
}
.container{
  padding: 30px 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  row-gap:10px;
}
span{
  color:rgb(240, 35, 35);
}
#temp{
  width:350px;
  height:80px;
  border-radius: 10px;
  color:rgb(0, 0, 0);
  font-size: 25px;
  font-weight: bold;
  border:none;
  padding: 6px 10px 0px 15px;
  background-image: linear-gradient(to top,rgba(0,0,0,0.6),rgb(255, 255, 255));
}
#temp::placeholder{
  font-size: 22px;
  font-weight: 600;
  color: black;
  padding-right: 10px;
}
#convert{
  height:50px;
  width: 370px;
  border: none;
  border-radius: 10px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 600;
}
.calculate{
  height:50px;
  margin-top: 20px;
  width: 370px;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(to bottom,rgb(2, 11, 136),violet);
  font-size: 18px;
  font-weight: bold;
  color:white;
}
.calculate:hover{
  background-image:none;
  color: black;
}
#result{
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 10px;
  height: 100px;
  background-color: rgb(138, 131, 131);
  width: 370px;
  color: rgb(255, 255, 255);
}
p{
  font-size: 20px;

}


